/* form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 2em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 3em;
} */

.container {
  margin-top: 40px;
}

.btn-primary {
  width: 100%;
}
